.page-header
  %h1 Hunker Down

.page-body
  %p Narrow down your followers and following to only mutuals - by unfollowing non-mutuals, and softblocking non-mutual followers. Best used when making your account private!
