- model_class = BlockList
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize.titleize
  %p Only showcased block lists are listed here, individual block lists are accessed through their url
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Hashtag
      %th Description
      %th Subscribers
      %th Blockers
      %th Blocked Users
      %th Actions
  %tbody
    - @block_lists.where(showcase: true).each do |block_list|
      %tr
        %td= link_to block_list.name, block_list_path(block_list)
        %td= '#'+block_list.name.downcase.delete(' ')
        %td= block_list.description
        %td= block_list.users.length
        %td= block_list.blockers.length
        %td= block_list.targets.length
        %td
          - if current_user.in? block_list.users
            = button_to 'Unsubscribe + Remove Blocks',
              list_unsubscribe_path(block_list),
              :method => :delete,
              :class => 'btn btn-sm btn-danger'
          - else
            = button_to 'Subscribe',
              list_subscribe_path(block_list),
              :method => :post,
              :class => 'btn btn-sm btn-primary'

= link_to 'Create new Block List',
  '/block_lists/new', :class => 'btn btn-default'
