- model_class = BlockList
.page-header
  %h1= @block_list.name
  %p= @block_list.description
  - if current_user.in? @block_list.users
    = link_to 'Unsubscribe + Remove Blocks',
      list_unsubscribe_path(@block_list),
      :method => :delete,
      :class => 'btn btn-danger'
  - else
    = link_to 'Subscribe',
      list_subscribe_path(@block_list),
      :method => :post,
      :class => 'btn btn-primary'

%dl.dl-horizontal
  %dt
    %strong Subscribers:
  %dd= @block_list.users.length
  - if @block_list.admins.length > 0
    %dt
      %strong Admins:
    - for admin in @block_list.admins
      %dd= link_to "#{admin.name} (@#{admin.user_name})", "http://#{admin.website}.com/#{admin.user_name}"
  - if (@block_list.blockers - @block_list.admins).length > 0
    %dt
      %strong Blockers:
    - for blocker in (@block_list.blockers - @block_list.admins)
      %dd= link_to "#{blocker.name} (@#{blocker.user_name})", "http://#{blocker.website}.com/#{blocker.user_name}"
  %dt
    %strong Blocked Users:
  %dd= @block_list.targets.length
  - if @block_list.blocker? current_user
    %br
    %dt
      %strong Pending Reports:
    %dd= link_to @block_list.reports.where(processed: false).length, '/reports'
    %dt
      %strong Active Blocks:
    %dd= @block_list.blocks.length

%dl.dl-horizontal
  - if @block_list.admin? current_user
    = form_tag add_blocker_path(@block_list), :method => 'post' do
      %dt= submit_tag "Add Blocker", :class => 'btn btn-primary btn-sm'
      %dd= text_field_tag :user_name, nil, :placeholder => "@name, like @lynncyrin"
    = form_tag add_admin_path(@block_list), :method => 'post' do
      %dt= submit_tag "Add Admin", :class => 'btn btn-primary btn-sm'
      %dd= text_field_tag :user_name, nil, :placeholder => "@name, like @lynncyrin"

%h2 Blocked Users
%table.table.table-striped
  %thead
    %tr
      %th Username
      %th Profile Description
      %th Time Reported
      %th View Reports
  %tbody
    - @block_list.reports.where(approved: true, expired: false).each do |report|
      %tr
        %td= link_to "#{report.target.name} (@#{report.target.user_name})", "http://twitter.com/#{report.target.user_name}"
        %td= report.target.description
        %td= time_ago_in_words(report.created_at) + ' ago'
        %td= link_to 'Reports', "/user/reports/?id=#{report.target.id}", :class => 'btn btn-default'

= link_to 'Back to Block Lists',
  block_lists_path, :class => 'btn btn-default'
= link_to 'Create new Block List',
  '/block_lists/new', :class => 'btn btn-default'
