%h1 TheBlockBot

%p !!! Alpha version software, your input may be wiped !!!

- if current_user
  = link_to 'Subscribe to block lists',
    block_lists_path,
    :class => 'btn btn-default'
- else
  =  button_to 'Log In with Twitter',
    '/auth/twitter',
    :class => 'btn btn-default'
