!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title TheBlockBot
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"
    /[if lt IE 9]
      %script{:src => "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js", :type =>"text/javascript"}
  %body
    .navbar.navbar-default.navbar-static-top
      .container
        %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav.container-fluid

            %a.navbar-brand{:href => "/"} TheBlockBot

            %li= link_to "Block Lists", "/block_lists"

            %li.dropdown
              %a#toolMenu.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                Tools
                %span.caret
              %ul.dropdown-menu{"aria-labelledby" => "toolMenu"}
                %li= link_to "Hunker Down", "/tools/hunkerdown"

            - if current_user
              - if current_user.is_blocker
                %li= link_to "Reports",   "/reports"

              %li.pull-right= link_to 'Sign Out', signout_path
              %li.pull-right= link_to 'Profile', '/profile'
              %li.pull-right.login(title="You!")
                %span.name= current_user.name
                %img.avatar(src="#{current_user.profile_image_url}")

            - else
              %li.pull-right= link_to "Sign in with Twitter", signin_path
    .container
      %main.row
        .col-lg-12
          = bootstrap_flash
          = yield
      %footer
        %p A CollectQT Project
